html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #121213;
  color: #d7dadc;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.game {
  width: 100%;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}
.board {
  width: 100%;
  max-width: 350px;
  margin: auto;
}
.letter-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.letter {
  border: 2px solid #3a3a3c;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
}
.letter::before {
  content: '';
  padding-bottom: 100%;
}
.keyboard {
  margin: 0 .8px;
}
.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}
button {
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #818384;
  color: #d7dadc;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.half {
  flex: 0.5;
}
.one-and-a-half {
  flex: 1.5;
}